dcheck_always_on = false
is_debug = true
target_cpu = "x64"
is_clang = false
v8_monolithic = true
v8_expose_symbols = true
v8_use_external_startup_data = false
v8_enable_i18n_support = false
v8_static_library = true
use_sysroot = false
use_glib = false
use_custom_libcxx = false
use_locally_built_instrumented_libraries = false
use_lld = false
treat_warnings_as_errors = false